* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-color: #17162e;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.header {
    height: 20%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.search-box {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #454558; 
    border-radius: 5px;
    padding: 10px 15px; 
    max-width: 600px; 
    margin: 0 auto; 
}

.search-box input {
    border: none;
    background: none;
    outline: none;
    color: #ccc; 
    font-size: 16px;
    flex-grow: 1; 
    padding: 10px; 
}

.search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-box button img {
    width: 20px; 
    height: 20px;
    filter: brightness(0.8); 
    background: none;
}

.filmes-favoritos {
    display: flex;
    gap: 10px;
    font-size: medium;
    margin-bottom: 20px;
}

.filmes {
    width: 80%;
    height: auto;
}

.filmes ul {
    width: 100%;
    height: auto;
    background-color: #1d1c3b;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.filmes ul li {
    background-color: transparent; 
}

.filmes ul .imagem-filme img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.name-points {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.nome-filme {
    font-size: 15px;
    font-weight: bold;
}

.pontos-favoritar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.pontos, .favoritar {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.pontos img, .favoritar img {
    width: 20px;
    height: 20px;
    filter: brightness(0.8);
    cursor: pointer;
}

.descricao {
    font-size: 18px;
    color: #ccc;
    line-height: 1.5;
    margin-top: 10px;
    text-align: start;
    margin-left: 100px;
}